<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <!-- These values get set by the CI build script -->

    <!-- Possible values: true | false -->
    <add key="RunWithLogging" value="false" />
    <!-- Path where the logs should be written to -->
    <add key="LogPath" value="" />
    <!-- Path where the eventstore data files should be written to -->
    <add key="StoragePath" value="" />
  </appSettings>
</configuration>